@col-number: 12;
@small-upper-on: false; 
@small-only-on: false; 
@medium-upper-on: false; 
@medium-only-on: false; 
@large-upper-on: false;
@large-only-on: false;
@gigantic-on: false;
@activate-small-and-upper: true; 
@activate-small-and-upper: true; 
.generate-columns(@selector, @i: 1) when (@i =< @col-number) {
    .@{selector}-@{i} {
        width: (@i * 100% / @col-number);
    }
    .@{selector}-offset-@{i} when (@i < @col-number){
        margin-left: (@i * 100% / @col-number); 
    }
    .generate-columns(@selector,(@i+1));
}
.protect-down(@selector, @i: 1) when (@i =< @col-number) {
   .@{selector}-@{i}{ width: 100%;}
   .protect-down(@selector, (@i+1));
}


.l-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // all screens
    .col{ padding-left: 2em; flex: none; box-sizing: border-box; float: left; }
    .generate-columns(all);

    & when (@small-upper-on = true){.protect-down(smu)}
    & when (@small-only-on = true){.protect-down(smo)}
    & when (@medium-upper-on = true){.protect-down(meu)}
    & when (@medium-only-on = true){.protect-down(meo)}
    & when (@large-upper-on = true){.protect-down(lau)}
    & when (@large-only-on = true){.protect-down(lao)}
    & when(@gigantic-on = true){.protect-down(gi)}
    
    // Mobile screens
    @media only screen and (max-width: 40em) {
           } 
    // Small screens and upper
    @media only screen and (min-width: 40.063em) {
        & when (@small-upper-on = true){.generate-columns(smu) };
    } 
    // Small screens only
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        & when (@small-only-on = true){ .generate-columns(smo) };
    }
    // Medium screens and upper
    @media only screen and (min-width: 64.063em) {
        & when (@medium-upper-on = true){ .generate-columns(meu) };
    }
    // Medium screens only
    @media only screen and (min-width: 64.063em) and (max-width: 90em) {
        & when (@medium-only-on = true){ .generate-columns(meo) };
    }
     // Large screens and upper
    @media only screen and (min-width: 90.063em) {
        & when (@large-upper-on = true){.generate-columns(lau) } ;
    }
    // Large screens only
    @media only screen and (min-width: 90.063em) and (max-width: 120em){
        & when (@large-only-on = true){.generate-columns(lao) } ;
    }
    // Gigantic screens and upper
    @media only screen and (min-width: 120.063em) {
        & when(@gigantic-on = true){.generate-columns(gi) } ;
    }
}
