.l-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.l-grid .col {
  padding-left: 2em;
  flex: none;
  box-sizing: border-box;
  float: left;
}
.l-grid .all-1 {
  width: 8.33333333%;
}
.l-grid .all-2 {
  width: 16.66666667%;
}
.l-grid .all-3 {
  width: 25%;
}
.l-grid .all-4 {
  width: 33.33333333%;
}
.l-grid .all-5 {
  width: 41.66666667%;
}
.l-grid .all-6 {
  width: 50%;
}
.l-grid .all-7 {
  width: 58.33333333%;
}
.l-grid .all-8 {
  width: 66.66666667%;
}
.l-grid .all-9 {
  width: 75%;
}
.l-grid .all-10 {
  width: 83.33333333%;
}
.l-grid .all-11 {
  width: 91.66666667%;
}
.l-grid .all-12 {
  width: 100%;
}
.l-grid.no-gutter .col {
  padding-left: 0;
}
.l-grid.small-gutter .col {
  padding-left: 1em;
}
