
// -------- normalize.css ---------
@import (inline) "normalize.css";

// -------- Responsiveness --------
@small-upper-on: false; 
@small-only-on: false; 
@medium-upper-on: false; 
@medium-only-on: false; 
@large-upper-on: false;
@large-only-on: false;
@gigantic-on: false;
// ------------ Grid --------------
@col-number: 12;
@offset-support: false; 

@import "grid.less";
// --------- Typography -----------
@small-headings-on: false;
@import "typography.less";

