
// -------- normalize.css ---------
@import (inline) "normalize.css";

// ------------ Grid --------------
@col-number: 12;

@small-upper-on: false; 
@small-only-on: false; 
@medium-upper-on: false; 
@medium-only-on: false; 
@large-upper-on: false;
@large-only-on: false;
@gigantic-on: false;

@offset-support: false; 

@import "grid.less";
